<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lighta++</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/Dropdown.css" />
    <script src="https://kit.fontawesome.com/62e23687bf.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Shows the dropdown list when user clicks on bell
        function dropdownFunction() {
            document.getElementById("dropdown-list").classList.toggle("show");
        }

        // Closes the list when user clicks away from list
        window.onclick = function (event) {
            if (!event.target.matches('.bell-button')) {
                var dropdowns = document.getElementsByClassName("bell-list");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>
<body>
    <div class="row">
        @if (Context.Request.Query.ContainsKey("id")) @*We will eventually need to replace these conditions once we are using a state object, instead passing user id by the url*@ 
        {
            <div class="col-1 d-flex flex-column h-100 align-content-center">
                <nav class="navbar text-center position-fixed col-1 d-flex flex-column h-100 align-content-center">
                    @*<component type="typeof(Components.NavComponent)" render-mode="Static"/>*@
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Welcome" asp-route-id="@Context.Request.Query["id"]">Home</a>
                        </li>
                       @if (Model.Users.usertype == 'S')
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Registration/Index" asp-route-id="@Context.Request.Query["id"]">Registration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/StudentPayment" asp-route-id="@Context.Request.Query["id"]">Payment</a>
                            </li>
                        }
                        else if (Model.Users.usertype == 'I')
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Courses/Index" asp-route-id="@Context.Request.Query["id"]">Courses</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Calendar" asp-route-id="@Context.Request.Query["id"]">Calender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Grades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Help</a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
        <div class="container @(Context.Request.Query.ContainsKey("id") ? "col-11 m-0" : "col-12")">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container mw-100">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">Lighta++</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav @*flex-grow-1*@ ml-auto">
                                @if (Context.Request.Query.ContainsKey("id"))
                                {
                                    <li>
                                        <button onclick="dropdownFunction()" class="bell-button">
                                            <i class="fas fa-bell fa-fw"></i>
                                        </button>
                                        <div id="dropdown-list" class="bell-list">
                                            <a href="#">Assignment 1 graded</a>
                                            <a href="#">Assignment 2 posted</a>
                                            <a href="#">dummy item 3</a>
                                            <a href="#">dummy item 4</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Profile" asp-route-id="@Context.Request.Query["id"]"><i class="fas fa-user-circle"></i> Profile</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/Index"><i class="far fa-user-circle"></i> Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <main role="main" class="pb-3 container col-10">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Lighta++ - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
