@page "/Courses/{sectionId:int}/Assignments/{assignmentId:int}"
@model Lightaplusplus.Pages.Courses.Assignments.SubmitAssignmentModel
@{
    ViewData["Title"] = "Submit Assignment";
}

<style>
    textarea {
        margin-bottom: 3%;
    }

    .file {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #0366D6;
        cursor: pointer;
    }

        .file:hover {
            text-decoration: underline;
        }
</style>

@if (Model.Users.usertype == 'I')
{
    <div class="row d-flex justify-content-between" style="margin-top: 20px">
        <h1>View Assignments</h1>
        <div>
            <a asp-page="/Courses/Assignments/EditAssignment"
               asp-route-sectionId="@Model.SectionId"
               asp-route-assignmentId="@Model.AssignmentId"
               asp-route-id="@Model.Users.ID"
               class="btn btn-primary">Edit Assignment</a>
        </div>
    </div>
}
else
{
    <h1>Submit Assignment</h1>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Assignment Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignments.AssignmentTitle)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignments.AssignmentDescription)
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignments.AssignmentDueDateTime)
        </dd>
        <dt class="col-sm-2">
            Maximum Points
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignments.AssignmentMaxPoints)
        </dd>
    </dl>
</div>



<div>
    @if (@Model.Users.usertype == 'S')
    {

        //if the assignment is a file submission
        if (Model.Assignments.AssignmentSubmissionType == 'F')
        {
            <div>
                <form method="post" enctype="multipart/form-data">
                    @if (Model.Display == false)
                    {
                        <input asp-page-handler="DownloadFile" type="submit" class="file" value="@Model.FilePath">
                        <button type="button" class="btn btn-success">Submitted &#10003;</button>
                    }
                    else
                    {
                        <input asp-for="FileUpload" type="file">
                        <input asp-page-handler="Upload" class="btn btn-primary up" type="submit" value="Upload" />
                    }
                    <input asp-for="HiddenId" type="text" hidden>
                    <input asp-for="HiddenSectionId" type="text" hidden>
                    <input asp-for="HiddenAssignmentId" type="text" hidden>
                </form>
            </div>
        }
        // if the assignment is a text submission
        else if (Model.Assignments.AssignmentSubmissionType == 'T')
        {
            <form method="post">
                @if (Model.Display == false)
                {
                    <textarea asp-for="Assignment" rows="10" class="form-control" disabled="disabled"></textarea>
                }
                else
                {
                    <textarea asp-for="Assignment" rows="10" class="form-control" placeholder="Your Assignment Here"></textarea>
                    <input asp-page-handler="Text" class="btn btn-primary" type="submit" value="Submit" />
                }

                <input asp-for="HiddenId" type="text" hidden>
                <input asp-for="HiddenSectionId" type="text" hidden>
                <input asp-for="HiddenAssignmentId" type="text" hidden>
            </form>
        }

        if (Model.Success == 1)
        {
            <div class="alert alert-success" role="alert">
                Upload Successful
            </div>
        }
        else if (Model.Success == 2)
        {
            <div class="alert alert-danger" role="alert">
                Upload Failed
            </div>
        }

    }
    <a asp-page="/Courses/View/Index"
       asp-route-sectionId="@Model.SectionId"
       asp-route-id="@Model.Users.ID">Back to List</a>
</div>