<style>
    .CourseCard:hover {
        box-shadow: 0 5px 15px grey;
        transition: box-shadow 0.3s ease-in-out;
    }
    .CourseCard {
        box-shadow: 0 0 0 grey;
        transition: box-shadow 0.3s ease-in-out;
    }
</style>

<a href=" @Link" style="color:inherit; text-decoration: inherit;" >
    <div class="CourseCard" style="border: 2px solid black; border-radius: 25px; height: 90%">
        <div class="card-header">
            <h2> @ClassName</h2>
            <h3> @ClassNumber</h3>
        </div>
        <div class="card-body">
            <p>
                Instructor: @Instructor <br>
                Class Time: @StartTime.TimeOfDay - @EndTime.TimeOfDay
            </p>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public int ClassNumber { get; set; }
    [Parameter]
    public string ClassName { get; set; }
    [Parameter]
    public string Instructor { get; set; }
    [Parameter]
    public DateTime StartTime { get; set; }
    [Parameter]
    public DateTime EndTime { get; set; }
    [Parameter]
    public string Link { get; set; }
}
