<div class="card" style="width:100%; padding:5px">
    <a style="padding:2px,5px" href="@CourseLink">@ClassNumber</a>
    <a style="padding:2px,5px" href="@AssignmentLink">@AssignmentName</a>
    <a style="padding:2px,5px">Due: @DueDate</a>
</div>

@code {
    [Parameter]
    public string ClassNumber { get; set; }
    [Parameter]
    public string AssignmentName { get; set; }
    [Parameter]
    public string DueDate { get; set; }
    [Parameter]
    public string CourseLink { get; set; }
    [Parameter]
    public string AssignmentLink { get; set; }
}
