@page "/Courses/{sectionId:int}"
@model Lightaplusplus.Pages.Courses.View.IndexModel
@{
    <h1>@Model.Section.Course.CourseCode @Model.Section.Course.CourseNumber </h1>
    <h2>@Model.Section.Course.CourseName</h2>

    <div class="row d-flex justify-content-between align-items-center" style="margin-top: 20px">
        <h4>Assignments</h4>
        @if ((string)ViewData["UserType"] == "I")
        {
            <div>
                <a asp-page="/Courses/Assignments/AddAssignment"
                   asp-route-sectionId="@Model.SectionId"
                   class="btn btn-primary">Create Assignment</a>
            </div>
        }
        else
        {
            <div class="alert alert-primary">
                Total: @Model.FinalGrade %
            </div>
        }
    </div>
    <div class="row">
        @if (Model.AssignmentG.AssignmentGradeList.Count > 0)
        {
            <table class="table table-hover" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Points</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="section-table-body">
                    @foreach (var assignment in Model.AssignmentG.AssignmentGradeList)
                    {
                    <tr>
                        <td>@assignment.Assignment.AssignmentTitle</td>
                        @if (@assignment.Assignment.AssignmentDueDateTime.Year == DateTime.Today.Year)
                        {
                            <td>@assignment.Assignment.AssignmentDueDateTime.ToString("MMMM d") at @assignment.Assignment.AssignmentDueDateTime.ToString("h:mm tt")</td>
                        }
                        else
                        {
                            <td>@assignment.Assignment.AssignmentDueDateTime.ToString("MMMM d, yyyy") at @assignment.Assignment.AssignmentDueDateTime.ToString("h:mm tt")</td>
                        }
                        @if (assignment.Grade == null)
                        {
                            <td>@assignment.Assignment.AssignmentMaxPoints</td>
                        }
                        else
                        {
                            <td>@assignment.Grade.GradeValue / @assignment.Assignment.AssignmentMaxPoints</td>
                        }
                        <td>
                            <div>
                                @if ((string)ViewData["UserType"] == "S")
                                {
                                    if (assignment.Submitted)
                                    {
                                        <a asp-page="/Courses/Assignments/SubmitAssignment"
                                           asp-route-sectionId="@Model.SectionId"
                                           asp-route-assignmentId="@assignment.Assignment.AssignmentId"
                                           class="btn btn-success">Submitted &#10003;</a>
                                    }
                                    else
                                    {
                                        <a asp-page="/Courses/Assignments/SubmitAssignment"
                                           asp-route-sectionId="@Model.SectionId"
                                           asp-route-assignmentId="@assignment.Assignment.AssignmentId"
                                           class="btn btn-primary">Submit</a>
                                    }

                                }
                                else
                                {
                                    <a asp-page="/Courses/Assignments/SubmitAssignment"
                                       asp-route-sectionId="@Model.SectionId"
                                       asp-route-assignmentId="@assignment.Assignment.AssignmentId"
                                       class="btn btn-primary">View Assignment</a>
                                }
                            </div>
                        </td>
                        <td>
                            <div>
                                @if ((string)ViewData["UserType"] == "I")
                                {
                                    <a asp-page="/Courses/Grades/Submissions"
                                       asp-route-sectionId="@Model.SectionId"
                                       asp-route-assignmentId="@assignment.Assignment.AssignmentId"
                                       class="btn btn-primary">View Submissions</a>
                                }
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h5>It looks like you don't have any assignments yet.</h5>
        }
    </div>


}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</head>

<body>
    @if (Model.UserType == "S")
    {
        <form method="post">
            <div>@Html.Raw(Model.ChartJson)</div>
        </form>
    }
    @if (Model.UserType == "I")
    {
        <form method="post">
            <div>@Html.Raw(Model.ChartJson)</div>
            <div>@Html.Raw(Model.ChartJson2)</div>
        </form>
    }
</body>


</html>
