@page "/Courses/{sectionId:int}"
@model Lightaplusplus.Pages.Courses.View.IndexModel
@{
    <h1>@Model.Section.Course.CourseCode @Model.Section.Course.CourseNumber </h1>
    <h2>@Model.Section.Course.CourseName</h2>

    <div class="row d-flex justify-content-between" style="margin-top: 20px">
        <h4>Assignments</h4>
        @if(Model.Users.usertype == 'I')
        {
            <div>
                <a asp-page="/Courses/Assignments/AddAssignment" 
                   asp-route-sectionId="@Model.SectionId" 
                   asp-route-id="@Model.Users.ID"
                   class="btn btn-primary">Create Assignment</a>
            </div>
        }
    </div>
    <div class="row">
        @if (Model.Assignments.Count > 0)
        {
            <table class="table table-hover" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Due Date</th>
                    </tr>
                </thead>

                <tbody id="section-table-body">
                    @foreach (var assignment in Model.Assignments)
                    {
                    <tr>
                        <td>@assignment.AssignmentTitle</td>
                        <td>@assignment.AssignmentDescription</td>
                        @if (@assignment.AssignmentDueDateTime.Year == DateTime.Today.Year)
                        {
                            <td>@assignment.AssignmentDueDateTime.ToString("MMMM d") at @assignment.AssignmentDueDateTime.ToString("h:mm tt")</td>
                        }
                        else
                        {
                            <td>@assignment.AssignmentDueDateTime.ToString("MMMM d, yyyy") at @assignment.AssignmentDueDateTime.ToString("h:mm tt")</td>
                        }
                    </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h5>It looks like you don't have any assignments yet.</h5>
        }
    </div>


}
